<div id="mine-box">
	<div id="mine-wrap1">
		<div class="mine-bg">
			<p></p>
		</div>
		<div class="clearfix"></div>
		<input type="text" name="tel" id="tel" value="" placeholder="手机号" />
		<input type="text" id="password" value="" placeholder="密码"/>
		<div id="mine-link">
			<a href="#">忘记密码?</a>
		</div>
		<div id="login"><span id="logins">登录</span></div>
		<p id="createNum">创建新账号</p>
	</div>
	<div id="mine-wrap2">
		<div id="mineWrap-head">
			<p id="news"></p>
			<div class="clearfix">
			</div>
			<div id="mine-circle">
				<div><img ng-src="img/loki.jpg" /></div>
				<p>186tyre8791</p>
			</div>
		</div>
		<div id="mine-nav">
			<ul>
				<li>
					<img ng-src="img/icon_car.png" />
					<p>购物车</p>
				</li>
				<li>
					<img ng-src="img/icon_collect.png" />
					<p>我的收藏</p>
				</li>
				<li>
					<img ng-src="img/icon_yhq.png" />
					<p>红包优惠券</p>
				</li>
			</ul>
		</div>
		<div id="mine-nav1">
			<h4>全部订单</h4>
			<ul id="mine-nav1List">
				<li>
					<img ng-src="img/icon_order_dfh.png" />
					<p>待付款</p>
				</li>
				<li>
					<img ng-src="img/icon_order_dfk.png" />
					<p>待收货</p>
				</li>
				<li>
					<img ng-src="img/icon_order_dpj.png" />
					<p>待发货</p>
				</li>
				<li>
					<img ng-src="img/icon_order_dsh.png" />
						<p>待评价</p>
				</li>
				<li>
					<img ng-src="img/icon_order_thh.png" />
					<p>退货退款</p>
				</li>
			</ul>
		</div>
		<div class="clearfix">
			
		</div>
		<div id="mine-nav2">
			<ul>
				<li>我的积分</li>
				<li>帮助与反馈</li>
				<li>下载楚楚街app立即领12元</li>
			</ul>
		</div>
	</div>
</div>