<div id="searchBox">
	<div id="searchHead">
		<img ng-src="img/back.png" id="search-im1" ng-click="tiaozhuan()"/>
		<div id="search-all">
			<img ng-src="img/search（1）.png" id="search-im2"/>
			<input type="text" name="search" id="search-ip" value="" placeholder="请输入商品名称">
		</div>
		<p><a href="#/home">搜索</a></p>
	</div>
	<div id="content1">
		<span>热门推荐</span>
		<ul>
			<li>11.11超值预售</li>
			<li>儿童鞋</li>
			<li>外套女</li>
			<li>保温杯</li>
			<li>卫衣</li>
			<li>耳机</li>
			<li>女鞋</li>
			<li>零食</li>
			<li>双肩包</li>
			<li>高跟鞋</li>
			<li>手机</li>
			<li>牛仔裤</li>
			<li>打底裤</li>
			<li>护手霜</li>
			<li>孕妇装</li>
			<li>洗发水</li>
		</ul>
	</div>
	<div id="content2">
		<ul>
			<li>人气</li>
			<li>销量</li>
			<li>最新</li>
			<li>价格</li>
		</ul>
		<dl>
			<dt></dt>
			<dd></dd>
		</dl>
	</div>
</div>